<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Model Deployment</title>
</head>
<body>
    <h1 style="text-align:center;">Prediction Page</h1>
    <p style="text-align:center;">Enter the tweet</p>
    <form action="/" method="POST" style="text-align:center">
        <input type="text" name="tweet" style="font-size:18px;padding:5px">
        <input type="submit" style="font-size:18px;padding:5px">
    </form>

    <h4>{{ name }}</h4>
</body>
</html>